<!--
  Generated template for the SphTlsListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{ "SPH/TLH LIST" | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button>
                <i class="icon-filter"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" (ionInput)="searchHpb($event)" name="searchBar" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>
</ion-header>


<ion-content fullscreen="false">
    <ion-list class="listWrap">
        <div class="itemWrap">
            <ion-item class="listItem receipt">
                <div class="leftContent">
                    <div class="projectWrap">
                        <p class="title">{{ "SPH NAME" | translate }}</p>
                        <span class="value">Jamadi Ridwani</span>
                    </div>
                    <div class="mobileWrap">
                        <p class="title inline">{{ "MOBILE NO." | translate }}</p>
                        <span class="value inline">9029908944</span>
                        <button ion-button color="light">
                                        <i class="icon-call"></i>
                                    </button>
                    </div>
                    <div class="projectWrap">
                        <p class="title">{{ "SUB DISTRICT" | translate }}</p>
                        <span class="value">Cakung, Cempaka Putih, Cengkareng</span>
                    </div>
                </div>
                <i class="icon-next-thin checkIn"></i>
                <!--<span class="tag" *ngIf="hpb['hpb_status'] !=undefined && hpb['hpb_status'] !=''">{{ hpb['hpb_status'] }}</span>-->
                <!--<div class="arrow_box notVisit">
                                Not Visited
                            </div>-->
                <!--<button class="checkIn nextTo" ion-button color="light">
                            CHECK IN<i class="icon-next"></i>
                        </button>-->
            </ion-item>
        </div>
        <div class="itemWrap">
            <ion-item class="listItem receipt">
                <div class="leftContent">
                    <div class="projectWrap">
                        <p class="title">{{ "SPH NAME" | translate }}</p>
                        <span class="value">Jamadi Ridwani</span>
                    </div>
                    <div class="mobileWrap">
                        <p class="title inline">{{ "MOBILE NO." | translate }}</p>
                        <span class="value inline">9029908944</span>
                        <button ion-button color="light">
                                        <i class="icon-call"></i>
                                    </button>
                    </div>
                    <div class="projectWrap">
                        <p class="title">{{ "SUB DISTRICT" | translate }}</p>
                        <span class="value">Cakung, Cempaka Putih, Cengkareng</span>
                    </div>
                </div>
                <i class="icon-next-thin checkIn"></i>
                <!--<span class="tag" *ngIf="hpb['hpb_status'] !=undefined && hpb['hpb_status'] !=''">{{ hpb['hpb_status'] }}</span>-->
                <!--<div class="arrow_box notVisit">
                                Not Visited
                            </div>-->
                <!--<button class="checkIn nextTo" ion-button color="light">
                            CHECK IN<i class="icon-next"></i>
                        </button>-->
            </ion-item>
        </div>
    </ion-list>
</ion-content>