<ion-header>
    <ion-navbar>
         <ion-buttons end>
            <button ion-button (click)="goToHpbFilter()"> 
                <i class="icon-filter"></i>
            </button>
        </ion-buttons> 
        <ion-title>{{ "DPB LIST" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content fullscreen="false" [ngBusy]="{busy: busy,minDuration: 600}">

    <super-tabs *ngIf="showTabs" [selectedTabIndex]="selectedIndex" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="page1" [rootParams]="paramsDataC" title="{{ 'MASON' | translate }}"></super-tab>
        <super-tab [root]="page2" [rootParams]="paramsDataM" title="{{ 'CONTRACTOR' | translate }}"></super-tab>
    </super-tabs>


</ion-content>
<ion-footer class="ntpr">
    <div class="btn">
        <!--<button ion-button type="button">
            Add project
        </button>-->
        <button ion-button type="button" (click)="addHPB()">
            {{ "ADD PRIME BUILDER" | translate }}
        </button>
    </div>
    <!-- <div class="homeFt">
        <div class="btn">
            <button ion-button type="button">
                Add project
            </button>
        </div>
    </div> -->
</ion-footer>