<!--
Generated template for the AddProjectPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-home"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "FILTER BY" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <form class="userForm">
        <ion-list class="inputBox">
            <div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "DISTRICT" | translate }}</ion-label>
                        <ion-select>
                            <ion-option value="f">Option1</ion-option>
                            <ion-option value="m">Option2</ion-option>
                        </ion-select>
                    </ion-item>
                </div>

                <div class="rdIn">
                    <div class="date_picker">
                        <div class="date_list">
                            <ion-item class="inputLable">
                                <ion-label floating>{{ "FROM DATE" | translate }}</ion-label>
                                <ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>
                            </ion-item>
                            <i tappable role="button" class="icon-arrow"></i>
                        </div>
                        <div class="date_list">
                            <ion-item class="inputLable">
                                <ion-label floating>{{ "TO DATE" | translate }}</ion-label>
                                <ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>
                            </ion-item>
                            <i tappable role="button" class="icon-arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </ion-list>
        <div class="btn">
            <button ion-button type="button">{{ "SEARCH" | translate }}</button>
        </div>
    </form>
</ion-content>