<!--
  Generated template for the DistributorRetailerVisitFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-home"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "DISTRIBUTOR / RETAILER VISIT FORM" | translate }} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <form class="distributor">
        <div class="userSpace">
            <ion-list class="inputBox">
                <!-- <h2 class="labelHeading">Visiting to</h2>
                <div class="disRet"><span>Distributor</span><span class="curAct">Retailer</span></div> -->
                <div class="form_list">
                    <ion-card class="cardRow">
                        <ion-card-header>{{ "DISTRIBUTOR" | translate }} :</ion-card-header>
                        <ion-card-content>Abdul khan</ion-card-content>
                    </ion-card>
                    <ion-card class="cardRow">
                        <ion-card-header>{{ "VISIT DATE" | translate }} :</ion-card-header>
                        <ion-card-content>1 May 2017</ion-card-content>
                    </ion-card>
                </div>
            </ion-list>
        </div>
        <div class="userSpaceRepet">
            <h2 class="labelHeading">{{ "CURRENT STOCK DETAILS" | translate }}</h2>
            <ion-list class="inputBox">
                <div class="deleBox"><span>{{ "BRAND" | translate }} 1</span><span><i class="icon-Delete"></i></span></div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "BRAND NAME" | translate }}</ion-label>
                        <ion-select>
                            <ion-option value="f">Option1</ion-option>
                            <ion-option value="m">Option2</ion-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "SELLING PRICE" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 60,000" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "TYPE OF PACKAGING" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 100 kg" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "PROMOTION PROGRAM" | translate }}</ion-label>
                        <ion-input type="text" placeholder="Offer" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "QUANTITY STOCK" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 1000 Ton" class="input_item"></ion-input>
                    </ion-item>
                </div>
            </ion-list>
            <ion-list class="inputBox">
                <div class="deleBox"><span>{{ "BRAND" | translate }} 2</span><span><i class="icon-Delete"></i></span></div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "BRAND NAME" | translate }}</ion-label>
                        <ion-select>
                            <ion-option value="f">Option1</ion-option>
                            <ion-option value="m">Option2</ion-option>
                        </ion-select>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "SELLING PRICE" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 60,000" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "TYPE OF PACKAGING" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 100 kg" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "PROMOTION PROGRAM" | translate }}</ion-label>
                        <ion-input type="text" placeholder="Offer" class="input_item"></ion-input>
                    </ion-item>
                </div>
                <div class="rdIn">
                    <ion-item class="inputLable">
                        <ion-label floating>{{ "QUANTITY STOCK" | translate }}</ion-label>
                        <ion-input type="text" placeholder="{{ 'E.G.' | translate }} 1000 Ton" class="input_item"></ion-input>
                    </ion-item>
                </div>
            </ion-list>
            <button ion-button color="light" class="addMore">+ {{ "ADD MORE" | translate }}</button>
        </div>
        <div class="userSpace">
            <div class="comment_note">
                <ion-list class="inputBox">
                    <div class="rdIn">
                        <h2 class="labelHeading">{{ "NOTE" | translate }}</h2>
                        <ion-item class="inputLable">
                            <ion-textarea placeholder="Comment" class="textAarea"></ion-textarea>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
            <div class="btn">
                <button ion-button type="button">{{ "SUBMIT" | translate }}</button>
            </div>
        </div>
    </form>
</ion-content>