<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button menuToggle>
        <i class="icon-menu"></i>
      </button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
  <div class="create_profile">
    <div class="profile_container">
      <div class="profile_img">
        <div class="btn" (click)="openSelectCameraPop($event,'profile_pic')">
          <button ion-button type="button">
            <img [src]="profimagePath" alt="">
          </button>
          <i class="icon-Camera"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="profimagePath == 'assets/img/user_create.png' && (submitted)" class="centre alert alert-danger error">
    <p>
      {{ "PROFILE PIC IS REQUIRED" | translate }}
    </p>
  </div>
  <form class="userForm">
    <div class="checkButton" [class.disabledDiv]="updateFlag">
      <h2 class="labelHeading">{{ "DPB TYPE" | translate }}*</h2>
      <div class="rdIn" [(ngModel)]="HpbData.HpbType" #HpbType="ngModel" required [ngModelOptions]="{standalone: true}" radio-group>
        <ion-item class="halfWidth">
          <ion-label>{{ "MASON" | translate }}</ion-label>
          <ion-radio value="mason" (click)="onSelectHpbTypeChange('mason')"></ion-radio>
        </ion-item>
        <ion-item class="halfWidth">
          <ion-label>{{ "CONTRACTOR" | translate }}</ion-label>
          <ion-radio value="contractor" (click)="onSelectHpbTypeChange('contractor')"></ion-radio>
        </ion-item>
      </div>
      <div *ngIf="HpbType.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!HpbType.errors.required">
          {{ "DPB TYPE IS REQUIRED" | translate }}
        </p>
      </div>
    </div>
    <ion-list class="inputBox">
      <h2 class="labelHeading">{{ "PERSONAL DETAILS" | translate }}</h2>
      <div class="rdIn">
        <ion-item class="inputLable">
          <ion-label floating>{{ "NAME" | translate }}*</ion-label>
          <ion-input type="text" placeholder="{{ 'FULL NAME' | translate }}" class="input_item" [(ngModel)]="HpbData.HpbName" #HpbName="ngModel" required [ngModelOptions]="{standalone: true}" minlength="4" maxlength="100" pattern="^[^-\s][a-zA-Z '\s-]+$"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="HpbName.errors && (HpbName.dirty || HpbName.touched || submitted)" class="alert alert-danger error">
        <p [hidden]="!HpbName.errors.required">
          {{ "NAME IS REQUIRED" | translate }}
        </p>
        <p [hidden]="!HpbName.errors.minlength">
          {{ "NAME MUST BE AT LEAST 4 CHARACTERS LONG." | translate }}
        </p>
        <p [hidden]="!HpbName.errors.pattern">
          {{ "PLEASE ENTER A VALID NAME" | translate }}
        </p>
        <p [hidden]="!HpbName.errors.maxlength">
          {{ "NAME CANNOT BE MORE THAN 100 CHARACTERS LONG." | translate }}
        </p>
      </div>
      <div class="rdIn posR">
        <ion-item class="inputLable">
          <ion-label floating> {{ "ID CARD NO." | translate }}*</ion-label>
          <ion-input type="tel" placeholder=" {{ 'CHECK YOUR ID CARD' | translate }}"  class="input_item" [(ngModel)]="HpbData.IdCardNumber" [readonly]="HpbData['IdApprovalStatus']==0" #IdCardNumber="ngModel" required [ngModelOptions]="{standalone: true}" pattern="[0-9]+" maxlength="50"></ion-input>
        </ion-item>
        <div class="notificationIndicator" [hidden]="Action">
          <span class="pColor" *ngIf="HpbData['IdApprovalStatus']==0"><i class="icon-pending"></i>Pending</span>
          <span class="fColor" *ngIf="HpbData['IdApprovalStatus']==-1"><i class="icon-failed"></i>Rejected</span>
          <span class="dColor" *ngIf="HpbData['IdApprovalStatus']==1"><i class="icon-deal"></i>Approved</span>
        </div>
        
      </div>
      <div *ngIf="IdCardNumber.errors && (IdCardNumber.dirty || IdCardNumber.touched || submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardNumber.errors.required">
          {{ "ID CARD NO. IS REQUIRED" | translate }}
        </p>
        <p [hidden]="!IdCardNumber.errors.pattern">
          {{ "ID CARD NO. IS INVALID" | translate }}
        </p>
      </div>
      <div class="rdIn locate_btn">
        <ion-item class="inputLable">
          <ion-label floating>{{ "ID CARD ADDRESS" | translate }}*</ion-label>
          <ion-textarea fz-elastic row="1" class="textAarea" [(ngModel)]="HpbData.IdCardAddress" #IdCardAddress="ngModel" required [ngModelOptions]="{standalone: true}"></ion-textarea>
        </ion-item>
        <button *ngIf="showLocateBtn"  ion-button (click)="getAddress()">{{ "LOCATE" | translate }} <i class="icon-location"></i></button>
      </div>
      <div *ngIf="IdCardAddress.errors && (IdCardAddress.dirty || IdCardAddress.touched || submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardAddress.errors.required">
          {{ "ID CARD ADDRESS IS REQUIRED" | translate }}
        </p>
      </div>
      <div class="rdIn">
        <ion-item class="inputLable">
          <ion-label stacked>{{ "POSTAL CODE" | translate }}*</ion-label>
          <!--<ion-select (ionChange)="addressDataFiltersF($event,'postalcode')" [(ngModel)]="HpbData.IdCardPincode" #IdCardPincode="ngModel" required [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let pcode of postalCodeArrF" value="{{pcode}}">{{pcode}}</ion-option>
                    </ion-select>-->
          <ion-input [(ngModel)]="HpbData.IdCardPincode" #pincodeMob="mobiscroll" mbsc-select [mbsc-options]="mobiScollIdCardPincodeSettings" [mbsc-data]="postalCodeArrF" #IdCardPincode="ngModel" required [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="IdCardPincode.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardPincode.errors.required">
          {{ "POSTAL CODE IS REQUIRED" | translate }}
        </p>
      </div>
      <div class="rdIn" [class.disabledDiv]="HpbData.IdCardPincode && HpbData.IdCardPincode!='' ">
        <ion-item class="inputLable">
          <ion-label stacked> {{ "PROVINCE" | translate }}*</ion-label>
          <!--<ion-select (ionChange)="addressDataFiltersF($event,'province')" [(ngModel)]="HpbData.IdCardProvince" #IdCardProvince="ngModel" required [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let provName of provinceArrF" value="{{provName}}">{{provName}}</ion-option>
                    </ion-select>-->
          <!--<ion-label> {{HpbData.IdCardProvince}}</ion-label> -->
          <ion-input [(ngModel)]="HpbData.IdCardProvince" mbsc-select [mbsc-options]="mobiScollIdCardProvinceSettings" [mbsc-data]="provinceArrF" #IdCardProvince="ngModel" #IdCardProvinceMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="IdCardProvince.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardProvince.errors.required">
          {{ "PROVINCE IS REQUIRED" | translate }}
        </p>
      </div>
      <div class="rdIn" [class.disabledDiv]="(HpbData.IdCardPincode && HpbData.IdCardPincode!='') || (HpbData.IdCardProvince==null || HpbData.IdCardProvince=='' || !HpbData.IdCardProvince)">
        <ion-item class="inputLable">
          <ion-label stacked> {{ "CITY / MUNICIPALITY" | translate }}*</ion-label>
          <!--<ion-select (ionChange)="addressDataFiltersF($event,'citykabname')" [(ngModel)]="HpbData.IdCardCity" #IdCardCity="ngModel" required [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let muni of municipalityArrF" value="{{muni}}">{{muni}}</ion-option>
                    </ion-select>-->
          <ion-input [(ngModel)]="HpbData.IdCardCity" mbsc-select [mbsc-options]="mobiScollIdCardCitySettings" [mbsc-data]="municipalityArrF" #IdCardCity="ngModel" #IdCardCityMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="IdCardCity.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardCity.errors.required">
          {{ "CITY / MUNICIPALITY IS REQUIRED" | translate }}
        </p>
      </div>
      <div class="rdIn" [class.disabledDiv]="(HpbData.IdCardPincode && HpbData.IdCardPincode!='') ||  (HpbData.IdCardCity==null || HpbData.IdCardCity=='' || !HpbData.IdCardCity) ">
        <ion-item class="inputLable">
          <ion-label stacked>{{ "SUB DISTRICT" | translate }}*</ion-label>
          <!--<ion-select (ionChange)="addressDataFiltersF($event,'subdistrict')" [(ngModel)]="HpbData.IdCardSubDistrict" #IdCardSubDistrict="ngModel" required [ngModelOptions]="{standalone: true}">
                        <ion-option *ngFor="let subd of subDistrictArrF" value="{{subd}}">{{subd}}</ion-option>
                    </ion-select>-->
          <ion-input [(ngModel)]="HpbData.IdCardSubDistrict" mbsc-select [mbsc-options]="mobiScollIdCardSubDistrictSettings" [mbsc-data]="subDistrictArrF" #IdCardSubDistrict="ngModel" #IdCardSubDistrictMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="IdCardSubDistrict.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!IdCardSubDistrict.errors.required">
          {{ "SUB DISTRICT IS REQUIRED" | translate }}
        </p>
      </div>
      <div class="rdIn">
        <div class="photoAdd">
          <h2 class="labelHeading">{{ "ID CARD PHOTO" | translate }}*</h2>
          <!--<ng-template *ngIf="idCardPhotoObj.length > 1">-->
          <div class="id_photos">
            <div class="id_items" text-right *ngFor="let image of idCardPhotoObj; let i = index;">
              <img [src]="image" alt="">
              <button ion-button color="light" class="close_btn" (click)="removeIdCardImage(i)">
                <i class="icon-close-thin"></i>
              </button>
            </div>
            <div class="id_items upload" text-center (click)="openSelectCameraPop($event,'id_card_photo')">
              <button ion-button color="light" class="upload_btn">
                <i class="icon-Camera"></i>
              </button>
            </div>
          </div>
          <!--</ng-template>-->
        </div>
        <div *ngIf=" (idCardPhotoObj ==undefined || idCardPhotoObj =='') && (submitted) " class="alert alert-danger error">
          <p>{{ "ID CARD PHOTO IS REQUIRED" | translate }}</p>
        </div>
      </div>
      <div class="same_add">
        <div class="rdIn">
          <div class="same_item">
            <ion-item>
              <ion-label>{{ "SAME AS ABOVE" | translate }}</ion-label>
              <ion-checkbox color="dark" checked="0" [(ngModel)]="HpbData.DomicileSameAsIdCard" #DomicileSameAsIdCard="ngModel" [ngModelOptions]="{standalone: true}" (ionChange)="copyAddress()" [disabled]=" !(IdCardAddress.valid && IdCardProvince.valid && IdCardCity.valid && IdCardSubDistrict.valid && IdCardPincode.valid) "></ion-checkbox>
            </ion-item>
          </div>
        </div>
        <div class="rdIn">
          <div class="same_above">
            <ion-item class="inputLable">
              <ion-label floating>{{ "DOMICILE ADDRESS" | translate }}*</ion-label>
              <!--<ion-input type="text" placeholder="" class="input_item" [(ngModel)]="HpbData.DomicileAddress" #DomicileAddress="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag"></ion-input>-->
              <ion-textarea fz-elastic class="textAarea" [(ngModel)]="HpbData.DomicileAddress" #DomicileAddress="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag"></ion-textarea>
            </ion-item>
          </div>
        </div>
        <div *ngIf="DomicileAddress.errors && (DomicileAddress.dirty || DomicileAddress.touched || submitted)" class="alert alert-danger error">
          <p [hidden]="!DomicileAddress.errors.required">
            {{ "DOMICILE ADDRESS IS REQUIRED" | translate }}
          </p>
        </div>
        <div class="rdIn" [class.disabledDiv]="disableDomicileAddrFlag">
          <ion-item class="inputLable">
            <ion-label stacked>{{ "POSTAL CODE" | translate }}*</ion-label>
            <!--<ion-select (ionChange)="addressDataFiltersS($event,'postalcode')" [(ngModel)]="HpbData.DomicilePincode" #DomicilePincode="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag">
                            <ion-option *ngFor="let pcodeS of postalCodeArrS" value="{{pcodeS}}">{{pcodeS}}</ion-option>
                        </ion-select>-->
            <ion-input [(ngModel)]="HpbData.DomicilePincode" mbsc-select [mbsc-options]="mobiScollDomicilePincodeSettings" [mbsc-data]="postalCodeArrS" #DomicilePincode="ngModel"  #DomicilePincodeMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="DomicilePincode.errors && (submitted)" class="alert alert-danger error">
          <p [hidden]="!DomicilePincode.errors.required">
            {{ "POSTAL CODE IS REQUIRED" | translate }}
          </p>
        </div>
        <div class="rdIn" [class.disabledDiv]="(HpbData.DomicilePincode && HpbData.DomicilePincode!='') ||  disableDomicileAddrFlag">
          <ion-item class="inputLable">
            <ion-label stacked>{{ "PROVINCE" | translate }}*</ion-label>
            <!--<ion-select (ionChange)="addressDataFiltersS($event,'province')" [(ngModel)]="HpbData.DomicileProvince" #DomicileProvince="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag">
                            <ion-option *ngFor="let provNameS of provinceArrS" value="{{provNameS}}">{{provNameS}}</ion-option>
                        </ion-select>-->
            <ion-input [(ngModel)]="HpbData.DomicileProvince" mbsc-select [mbsc-options]="mobiScollDomicileProvinceSettings" [mbsc-data]="provinceArrS" #DomicileProvince="ngModel" #DomicileProvinceMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="DomicileProvince.errors && (submitted)" class="alert alert-danger error">
          <p [hidden]="!DomicileProvince.errors.required">
            {{ "PROVINCE IS REQUIRED" | translate }}
          </p>
        </div>
        <div class="rdIn" [class.disabledDiv]="(HpbData.DomicilePincode && HpbData.DomicilePincode!='') || (HpbData.DomicileProvince==null || HpbData.DomicileProvince=='' || !HpbData.DomicileProvince) || disableDomicileAddrFlag">
          <ion-item class="inputLable">
            <ion-label stacked>{{ "CITY / MUNICIPALITY" | translate }}*</ion-label>
            <!--<ion-select [(ngModel)]="HpbData.DomicileCity" (ionChange)="addressDataFiltersS($event,'citykabname')" #DomicileCity="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag">
                            <ion-option *ngFor="let muniS of municipalityArrS" value="{{muniS}}">{{muniS}}</ion-option>
                        </ion-select>-->
            <ion-input [(ngModel)]="HpbData.DomicileCity" mbsc-select [mbsc-options]="mobiScollDomicileCitySettings" [mbsc-data]="municipalityArrS" #DomicileCity="ngModel" #DomicileCityMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="DomicileCity.errors && (submitted)" class="alert alert-danger error">
          <p [hidden]="!DomicileCity.errors.required">
            {{ "CITY / MUNICIPALITY IS REQUIRED" | translate }}
          </p>
        </div>
        <div class="rdIn" [class.disabledDiv]="(HpbData.DomicilePincode && HpbData.DomicilePincode!='') ||  (HpbData.DomicileCity==null || HpbData.DomicileCity=='' || !HpbData.DomicileCity) || disableDomicileAddrFlag">
          <ion-item class="inputLable">
            <ion-label stacked>{{ "SUB DISTRICT" | translate }}*</ion-label>
            <!--<ion-select (ionChange)="addressDataFiltersS($event,'subdistrict')" [(ngModel)]="HpbData.DomicileSubDistrict" #DomicileSubDistrict="ngModel" required [ngModelOptions]="{standalone: true}" [disabled]="disableDomicileAddrFlag">
                            <ion-option *ngFor="let subdS of subDistrictArrS" value="{{subdS}}">{{subdS}}</ion-option>
                        </ion-select>-->
            <ion-input [(ngModel)]="HpbData.DomicileSubDistrict" mbsc-select [mbsc-options]="mobiScollDomicileSubDistrictSettings" [mbsc-data]="subDistrictArrS" #DomicileSubDistrict="ngModel" #DomicileSubDistrictMob="mobiscroll"  required [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="DomicileSubDistrict.errors && (submitted)" class="alert alert-danger error">
          <p [hidden]="!DomicileSubDistrict.errors.required">
            {{ "SUB DISTRICT IS REQUIRED" | translate }}
          </p>
        </div>
      </div>
      <div class="rdIn posR">
        <ion-item class="inputLable">
          <ion-label floating>{{ "PRIMARY MOBILE NO." | translate }}*</ion-label>
          <ion-input type="tel" placeholder="'" class="input_item" [(ngModel)]="HpbData.MobileNo_1" #MobileNo_1="ngModel" [readonly]="HpbData['MobApprovalStatus']==0" required [ngModelOptions]="{standalone: true}" pattern="[0][1-9][0-9]+" minlength="10" maxlength="15"></ion-input>
        </ion-item>
        <div class="notificationIndicator" [hidden]="Action">
          <span class="pColor" *ngIf="HpbData['MobApprovalStatus']==0"><i class="icon-pending"></i>Pending</span>
          <span class="fColor" *ngIf="HpbData['MobApprovalStatus']==-1"><i class="icon-failed"></i>Rejected</span>
          <span class="dColor" *ngIf="HpbData['MobApprovalStatus']==1"><i class="icon-deal"></i>Approved</span>
        </div>
        
      </div>
      <div *ngIf="MobileNo_1.errors && (MobileNo_1.dirty || MobileNo_1.touched || submitted)" class="alert alert-danger error">
        <p [hidden]="!MobileNo_1.errors.required">
          {{ "PRIMARY MOBILE NO. IS REQUIRED" | translate }}
        </p>
        <p [hidden]="!MobileNo_1.errors.pattern">
          {{ "PRIMARY MOBILE NO. IS INVALID." | translate }}
        </p>
        <p [hidden]="!MobileNo_1.errors.minlength">
          {{ "PRIMARY MOBILE NO. MUST BE AT LEAST 10 NUMBERS LONG." | translate }}
        </p>
        <p [hidden]="!MobileNo_1.errors.maxlength">
          {{ "PRIMARY MOBILE NO. CANNOT BE MORE THAN 15 NUMBERS LONG." | translate }}
        </p>
      </div>
      <div class="rdIn">
        <ion-item class="inputLable">
          <ion-label floating>{{ "SECONDARY MOBILE NO." | translate }}</ion-label>
          <ion-input type="tel" placeholder="{{ 'E.G. 08292834235' | translate }}" class="input_item" [(ngModel)]="HpbData.MobileNo_2" #MobileNo_2="ngModel" [ngModelOptions]="{standalone: true}" pattern="[0][1-9][0-9]+" minlength="10" maxlength="15"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="MobileNo_2.errors && (MobileNo_2.dirty || MobileNo_2.touched || submitted )" class="alert alert-danger error">
        <p [hidden]="!MobileNo_2.errors.pattern">
          {{ "SECONDARY MOBILE NO. IS INVALID." | translate }}
        </p>
        <p [hidden]="!MobileNo_2.errors.minlength">
          {{ "SECONDARY MOBILE NO. MUST BE AT LEAST 10 NUMBERS LONG." | translate }}
        </p>
        <p [hidden]="!MobileNo_2.errors.maxlength">
          {{ "SECONDARY MOBILE NO. CANNOT BE MORE THAN 15 NUMBERS LONG." | translate }}
        </p>
      </div>
      <div *ngIf="MobileNo_2.value == MobileNo_1.value && (MobileNo_2.dirty || MobileNo_2.touched || submitted )" class="alert alert-danger error">
        <p [hidden]="!( MobileNo_2.value == MobileNo_1.value )">
          {{ "PRIMARY AND SECONDARY MOBILE NO. SHOULD NOT BE SAME." | translate }}
        </p>
      </div>
      <div class="rdIn">
        <ion-item class="inputLable">
          <ion-label floating>{{ "EMAIL" | translate }}</ion-label>
          <ion-input type="email" placeholder="{{ 'MYID@MAIL.COM' | translate }}" class="input_item" [(ngModel)]="HpbData.HpbEmail" #HpbEmail="ngModel" [ngModelOptions]="{standalone: true}" email></ion-input>
        </ion-item>
      </div>
      <div *ngIf="HpbEmail.errors && (HpbEmail.dirty || HpbEmail.touched || submitted)" class="alert alert-danger error">
        <p *ngIf="HpbData.HpbEmail !=undefined && HpbData.HpbEmail !=''" [hidden]="!HpbEmail.errors.pattern && (HpbData.HpbEmail.trim() == null)">
          {{ "PLEASE ENTER A VALID EMAIL ID." | translate }}
        </p>
      </div>
      <div class="rdIn">
        <ion-item class="inputLable">
          <ion-label floating>{{ "PLACE OF BIRTH" | translate }}*</ion-label>
          <ion-input type="text" required placeholder="{{ 'E.G. JAKARTA' | translate }}" class="input_item" [(ngModel)]="HpbData.PlaceOfBirth" #PlaceOfBirth="ngModel" pattern="^[a-zA-Z ]*$" [ngModelOptions]="{standalone: true}"></ion-input>
        </ion-item>
      </div>
      <div *ngIf="PlaceOfBirth.errors && (PlaceOfBirth.dirty || PlaceOfBirth.touched || submitted)" class="alert alert-danger error">
        <p [hidden]="!PlaceOfBirth.errors.required">
            {{ "PLACE OF BIRTH IS REQUIRED" | translate }}
         </p>
        <p *ngIf="HpbData.PlaceOfBirth !=undefined && HpbData.PlaceOfBirth !=''" [hidden]="!PlaceOfBirth.errors.pattern && (HpbData.PlaceOfBirth.trim() == null)">
          {{ "PLEASE ENTER A VALID PLACE." | translate }}
        </p>
      </div>
      <div class="rdIn">
        <div class="date_picker">
          <div class="date_list">
            <ion-item class="inputLable">
              <ion-label stacked>{{ "DATE OF BIRTH" | translate }}*</ion-label>
              <!-- <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="HpbData.DateOfBirth" #DateOfBirth="ngModel" [ngModelOptions]="{standalone: true}" max="{{MaxDate}}" min="{{MinDate}}"></ion-datetime> -->
              <ion-input [(ngModel)]="HpbData.DateOfBirth" required #DateOfBirthMob="mobiscroll" #DateOfBirth="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsG"></ion-input>
            </ion-item>
            <i tappable role="button" class="icon-arrow"></i>
          </div>
        </div>
      </div>
      <div *ngIf="DateOfBirth.errors && (submitted)" class="alert alert-danger error">
            <p [hidden]="!DateOfBirth.errors.required">
                {{ "DATE OF BIRTH IS REQUIRED" | translate }}
            </p>
      </div>
      <div class="companyInfo" *ngIf="HpbData.HpbType == 'contractor'">
        <div class="rdIn ">
          <h2 class="labelHeading">{{ "COMPANY DETAIL" | translate }}</h2>
        </div>
        <div class="rdIn ">
          <ion-item class="inputLable">
            <ion-label floating>{{ "COMPANY NAME" | translate }}*</ion-label>
            <ion-input type="text" placeholder="{{ 'E.G. COMPANY LTD' | translate }}" class="input_item" [(ngModel)]="HpbData.CompanyName" #CompanyName="ngModel" required [ngModelOptions]="{standalone: true}" minlength="2" maxlength="100"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="CompanyName.errors && (CompanyName.dirty || CompanyName.touched || submitted) " class="alert alert-danger error ">
          <p [hidden]="!CompanyName.errors.required">
            {{ "COMPANY NAME IS REQUIRED" | translate }}
          </p>
          <p [hidden]="!CompanyName.errors.minlength">
            {{ "COMPANY NAME MUST BE AT LEAST 2 CHARACTERS LONG." | translate }}
          </p>
          <p [hidden]="!CompanyName.errors.minlength">
            {{ "COMPANY NAME MUST BE AT LEAST 4 CHARACTERS LONG." | translate }}
          </p>
          <p [hidden]="!CompanyName.errors.maxlength">
            {{ "COMPANY NAME CANNOT BE MORE THAN 100 CHARACTERS LONG." | translate }}
          </p>
          <!-- <p *ngIf="HpbData.CompanyName != undefined && HpbData.CompanyName != ''" [hidden]="(HpbData.CompanyName.trim()==null)">
                        Please enter a valid Company Name.
                    </p> -->
        </div>
        <div *ngIf=" HpbData.CompanyName != '' && HpbData.CompanyName != undefined ">
          <div *ngIf="( HpbData.CompanyName.trim() == '' || HpbData.CompanyName.trim() == undefined) && (CompanyName.dirty || CompanyName.touched || submitted) " class="alert alert-danger error">
            <p [hidden]="( HpbData.CompanyName.trim() != '' )">
              {{ "PLEASE ENTER A VALID COMPANY NAME." | translate }}
            </p>
          </div>
        </div>
        <div class="rdIn ">
          <ion-item class="inputLable">
            <ion-label floating>{{ "COMPANY REPRESENTATIVE" | translate }}*</ion-label>
            <ion-input type="text " placeholder="{{ 'POINT OF CONTACT' | translate }}" class="input_item" [(ngModel)]="HpbData.CompanyRepresentativeName" #CompanyRepresentativeName="ngModel" required [ngModelOptions]="{standalone: true}" minlength="3" maxlength="100"></ion-input>
          </ion-item>
        </div>
        <div *ngIf="CompanyRepresentativeName.errors && (CompanyRepresentativeName.dirty || CompanyRepresentativeName.touched || submitted) " class="alert alert-danger error ">
          <p [hidden]="!CompanyRepresentativeName.errors.required">
            {{ "REPRESENTATIVE NAME IS REQUIRED" | translate }}
          </p>
          <p [hidden]="!CompanyRepresentativeName.errors.minlength">
            {{ "REPRESENTATIVE NAME MUST BE AT LEAST 3 CHARACTERS LONG." | translate }}
          </p>
          <p [hidden]="!CompanyRepresentativeName.errors.maxlength">
            {{ "REPRESENTATIVE NAME CANNOT BE MORE THAN 100 CHARACTERS LONG." | translate }}
          </p>
          <p *ngIf="HpbData.CompanyRepresentativeName !=undefined && HpbData.CompanyRepresentativeName !=''" [hidden]="(HpbData.CompanyRepresentativeName.trim()==null)">
            {{ "PLEASE ENTER A VALID REPRESENTATIVE NAME." | translate }}
          </p>
        </div>
        <div *ngIf=" HpbData.CompanyRepresentativeName != '' && HpbData.CompanyRepresentativeName != undefined ">
          <div *ngIf="( HpbData.CompanyRepresentativeName.trim() == '' || HpbData.CompanyRepresentativeName.trim() == undefined) && (CompanyRepresentativeName.dirty || CompanyRepresentativeName.touched || submitted) " class="alert alert-danger error">
            <p [hidden]="( HpbData.CompanyRepresentativeName.trim() != '' )">
              {{ "PLEASE ENTER A VALID REPRESENTATIVE NAME." | translate }}
            </p>
          </div>
        </div>
        <div class="rdIn ">
          <ion-item class="inputLable">
            <ion-label floating>{{ "DESIGNATION" | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'E.G. MANAGER' | translate }}" class="input_item" [(ngModel)]="HpbData.CompanyDesignation" #CompanyDesignation="ngModel" [ngModelOptions]="{standalone: true}"></ion-input>
          </ion-item>
        </div>
      </div>
    </ion-list>
    <div class="checkButton project_stage" [class.disabledDiv]="updateFlag">
      <h2 class="labelHeading ">{{ "DPB STATUS" | translate }}*</h2>
      <div class="rdIn" [(ngModel)]="HpbData.HpbStatus" #HpbStatus="ngModel" required [ngModelOptions]="{standalone: true}" radio-group>
        <ion-item class="halfWidth">
          <ion-label>{{ "PROSPECT" | translate }}</ion-label>
          <ion-radio value="prospect"></ion-radio>
        </ion-item>
        <ion-item class="halfWidth">
          <ion-label>{{ "SWITCHING" | translate }}</ion-label>
          <ion-radio value="switching"></ion-radio>
        </ion-item>
        <ion-item class="halfWidth">
          <ion-label>{{ "MAINTAIN" | translate }}</ion-label>
          <ion-radio value="maintain"></ion-radio>
        </ion-item>
      </div>
      <div *ngIf="HpbStatus.errors && (submitted)" class="alert alert-danger error">
        <p [hidden]="!HpbStatus.errors.required">
          {{ "DPB STATUS IS REQUIRED" | translate }}
        </p>
      </div>
    </div>
    <div class="comment_note">
      <ion-list class="inputBox">
        <div class="rdIn ">
          <h2 class="labelHeading">{{ "NOTE" | translate }}</h2>
          <ion-item class="inputLable">
            <ion-textarea fz-elastic placeholder="{{ 'COMMENT' | translate }}" class="textAarea" [(ngModel)]="HpbData.AdditionalComments" #AdditionalComments="ngModel" [ngModelOptions]="{standalone: true}"></ion-textarea>
          </ion-item>
        </div>
      </ion-list>
    </div>
    <div class="digital_sign_img" *ngIf="digitalSignPath !=undefined && digitalSignPath !=''">
      <img [src]="digitalSignPath" alt="">
    </div>
    <div class="btn digital_sign">
      <button ion-button type="button" (click)="getSignature()">{{ "DPB SIGNATURE" | translate }}*</button>
    </div>
    <div *ngIf=" (digitalSignPath ==undefined || digitalSignPath =='') && (submitted) " class="alert alert-danger error">
      <p>{{ "SIGNATURE IS REQUIRED" | translate }}</p>
    </div>
    <div class="btn">
      <button ion-button type="button" (click)="submitHpbForm()">{{ "SUBMIT" | translate }}</button>
    </div>
  </form>
</ion-content>
