<ion-header>
    <ion-navbar>
        <ion-buttons class="backBtn">
            <!--<button ion-button>
                <i class="icon-back"></i>
            </button>-->
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="openRetDistFilter()">
                   <i class="icon-filter"></i>  
            </button>
        </ion-buttons>
        <ion-title>{{ "DISTRIBUTOR/RETAILER LIST" | translate }}</ion-title>
    </ion-navbar>

    <ion-searchbar [(ngModel)]="myInput" placeholder="Search" (ionInput)="searchDRList($event)" name="searchbar"></ion-searchbar>
</ion-header>
<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}" [ngClass]="{'searchExtraMar': (filterby !=undefined && filterby != '') }">
    <div class="filterTag" *ngIf="filterby !=undefined && filterby != ''">
        <p>{{"SEARCH BY" | translate }} : {{ filterby }} </p>
        <button ion-button color="light" class="closeStyle" (click)="clearFilter()">
            <i class="icon-close-thin"></i>
        </button>
    </div>
    <ion-list class="listWrap">
        <div *ngIf="rdsData?.length==0">
            <h2 class="noData contMid">{{ "NO DISTRIBUTOR RETAILER FOUND." | translate }}</h2>
        </div>
        <div class="itemWrap" *ngFor="let rds of rdsData;let i = index;">
            <ion-item class="listItem receipt">
                <!--<ion-avatar item-left>
                    <img src="assets/img/user_create.png">
                </ion-avatar>-->
                <div class="leftContent">
                    <div class="projectWrap">
                        <p class="title"> {{ rds['rds_type']?rds['rds_type']:"-" }}</p>
                        <span class="value">{{ rds['rds_name']?rds['rds_name']:"-"  }}</span>
                    </div>
                    <div class="mobileWrap">
                        <p class="title inline">{{ "MOBILE NO." | translate }}</p>
                        <span class="value inline"> {{ rds['rds_mobile'] ? rds['rds_mobile']:(rds['rds_phone'] ? rds['rds_phone'] : '-') }}</span>
                        <button ion-button color="light" (click)="makephonecall(rds)" *ngIf="rds['rds_phone'] || rds['rds_mobile']">
                            <i class="icon-call"></i>
                        </button>
                        <p class="title dark marg5">{{"CITY / MUNICIPLITY" | translate }}: <span> {{ appCom.jsonParseCityName(rds.rds_city) ? appCom.jsonParseCityName(rds.rds_city):(appCom.jsonParseCityName(rds.rds_province) ? appCom.jsonParseCityName(rds.rds_province) : '-') }}</span></p>

                    </div>
                </div>

            </ion-item>



            <div class="ntpr">
                <div class="btn">
                    <button class="vDetail" ion-button type="button" (click)="goToRdsDetail(rds)">
                        {{ "VIEW DETAILS" | translate }}
                    </button>

                    <button class="CheckOut" ion-button type="button" (click)="checkOut(rds)" *ngIf="globalCheckInData['checkinFlag'] == true && globalCheckInData['checkinDetails']['check_in_out_type_id'] == rds['server_rds_id']  &&  globalCheckInData['checkinDetails']['check_in_out_type'] == rds['rds_type']">
                        {{ "CHECK OUT" | translate }}                    </button>
                    <button class="vProject" ion-button type="button" (click)="checkIn(rds)" [disabled]="globalCheckInData['checkinFlag'] == true" *ngIf="globalCheckInData['checkinFlag'] == false">
                       {{ " CHECK IN" | translate }}
                    </button>
                    <button class="vProject" ion-button type="button" *ngIf="globalCheckInData['checkinFlag'] == true && (globalCheckInData['checkinDetails']['check_in_out_type_id'] != rds['server_rds_id'] ||  globalCheckInData['checkinDetails']['check_in_out_type'] != rds['rds_type']  ) "
                        (click)="alreadyCheckInAlert()">
                        {{ "CHECK IN" | translate }}
                    </button>
                </div>
            </div>
        </div>

    </ion-list>
        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!dataLoadCompleted">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-footer class="ntpr">

</ion-footer>