<!--
Generated template for the HpbDetailsPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <!--<ion-buttons class="backBtn">
            <button ion-button>
                <i class="icon-back"></i>
            </button>
        </ion-buttons>-->
        <ion-buttons end>
            <button ion-button>
                <i class="icon-edit"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "DPB REGISTRATION FORM DETAILS" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <div class="userForm">
        <div class="form_list">
            <h2 class="labelHeading">{{ "PERSONAL DETAILS" | translate }}</h2>
            <ion-card>
                <ion-card-header>
                    {{ "NAME" | translate }}*
                </ion-card-header>
                <ion-card-content>
                    Jamadi Ridwani
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "ID CARD NO." | translate }}*
                </ion-card-header>
                <ion-card-content>
                    3623146605740001605740001605740001
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "ID CARD ADDRESS." | translate }}*
                </ion-card-header>
                <ion-card-content>
                    Graha Merdeka Blok XG 18/04 Citra Raya,Tangerang
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "DOMICILE ADDRESS" | translate }}*
                </ion-card-header>
                <ion-card-content>
                    Graha Merdeka Blok XG 18/04 Citra Raya,Tangerang
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "CITY / MUNICIPALITY" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Bangorejo
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "PROVINCE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Jawa Timur
                    </ion-card-content>
                </ion-card>
            </div>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "SUB DISTRICT" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Banyuwangi
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "POSTAL CODE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        54678799767
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "PRIMARY MOBILE NO." | translate }}*
                </ion-card-header>
                <ion-card-content>
                    8123 3450 3423
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "SECONDARY MOBILE NO." | translate }}*
                </ion-card-header>
                <ion-card-content>
                    8434 3767 3986
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "EMAIL" | translate }}*
                </ion-card-header>
                <ion-card-content>
                    Jamadi.Dirwani@gmail.com
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "PLACE OF BIRTH" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Bekasi
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "DATE OF BIRTH" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        2 Jan 1980
                    </ion-card-content>
                </ion-card>
            </div>
            <h2 class="labelHeading">Personal Details</h2>
            <ion-card>
                <ion-card-header>
                    {{ "COMPANY NAME" | translate }}
                </ion-card-header>
                <ion-card-content>
                    PT Citra Anugrah
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "COMPANY REPRESENTATIVE" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Jamadi Ridwan
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "DESIGNATION" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Procurement
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "NOTE" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
<!-- <ion-footer class="ntpr">
    <div class="btn">
        <button ion-button type="button">
            Add project
        </button>
        <button ion-button type="button" (click)="addHPB()">
            ADD PRIME BUILDER
        </button>
    </div>
</ion-footer> -->