@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?c6b68z');
    src: url('../fonts/icomoon/icomoon.eot?c6b68z#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?c6b68z') format('truetype'), url('../fonts/icomoon/icomoon.woff?c6b68z') format('woff'), url('../fonts/icomoon/icomoon.svg?c6b68z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 2.2rem;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: "\e90e";
}

.icon-add:before {
    content: "\e900";
}

.icon-back:before {
    content: "\e901";
}

.icon-call:before {
    content: "\e902";
}

.icon-Camera:before {
    content: "\e903";
}

.icon-check-in:before {
    content: "\e904";
}

.icon-close:before {
    content: "\e905";
}

.icon-deal:before {
    content: "\e906";
}

.icon-down:before {
    content: "\e907";
}

.icon-edit:before {
    content: "\e908";
}

.icon-filter:before {
    content: "\e909";
}

.icon-location:before {
    content: "\e90a";
}

.icon-next:before {
    content: "\e90b";
}

.icon-notification:before {
    content: "\e90c";
}

.icon-pending:before {
    content: "\e90d";
}

.icon-approved:before {
    content: "\e90f";
}

.icon-up:before {
    content: "\e910";
}

.icon-Delete:before {
    content: "\e911";
}

.icon-home:before {
    content: "\e912";
}

.icon-menu:before {
    content: "\e913";
}

.icon-calendar:before {
    content: "\e914";
}

.icon-chat:before {
    content: "\e915";
}

.icon-customer-share:before {
    content: "\e916";
}

.icon-close-thin:before {
    content: "\e917";
}

.icon-failed:before {
    content: "\e918";
}

.icon-holcim-logo:before {
    content: "\e919";
}

.icon-leaderboard:before {
    content: "\e91a";
}

.icon-next-thin:before {
    content: "\e91b";
}

.icon-product-purchase-proof:before {
    content: "\e91c";
}

.icon-project:before {
    content: "\e91d";
}

.icon-refer-customer:before {
    content: "\e91e";
}

.icon-search:before {
    content: "\e91f";
}

.icon-top-10:before {
    content: "\e920";
}

.icon-yes:before {
    content: "\e921";
}

.icon-password-delete:before {
    content: "\e922";
}

.icon-wishlist:before {
    content: "\e923";
}

.icon-back-thin:before {
    content: "\e924";
}

.icon-checkmark:before {
    content: "\e925";
}

.icon-gallery:before {
    content: "\e926";
}

.icon-Badge:before {
    content: "\e927";
}

.icon-refresh:before {
    content: "\e928";
}

.icon-folder:before {
    content: "\e929";
}