<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <div class="redeemWrapper">
        <ion-card class="todaysVisits">
            <ion-card-content>
                <div class="textBtn">
                    <p>{{ "SELECT YOUR REWARD FROM LIST" | translate }}</p>
                    <button ion-button class="viewAll" (click)="showWishModal();"><i class="icon-wishlist"></i>{{ "WISHLIST" | translate }}</button>
                </div>
            </ion-card-content>
        </ion-card>
        <div *ngIf="rewardList.length == 0">
            <h2 class="noData contMid">{{ "NO REWARD FOUND" | translate }}.</h2>
        </div>
        <ion-list class="redeemBox" *ngFor="let reward of rewardList;let i=index">
            <ion-item class="redeemList">
                <h3>
                    {{reward.name}}
                </h3>
                <p>
                    {{reward.description}}
                </p>
                <img src="{{container}}reward/download/{{reward.image}}" alt="">
                <div class="selectPoints" [ngClass]="{'active' : (reward.selected == true)}">
                    <h4>{{reward['points'].toLocaleString(appCom.getCurrCCode())}} {{ "POINTS" | translate }}</h4>
                    <div class="selectors">
                        <button ion-button class="selectBtn" [hidden]="reward.selected" (click)="selectProduct(i)">{{ "SELECT" | translate }}</button>
                        <button ion-button class="selectYes" [hidden]="!reward.selected" (click)="removeProduct(i,reward.id)"><i class="icon-checkmark"></i></button>
                    </div>
                </div>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!dataLoadCompleted">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>

    </div>
</ion-content>
<ion-footer class="reddemFooter">
    <div class="redeem_footer">
        <div class="balancePoints">
            <span>{{ "BALANCE POINTS" | translate }} {{totalPoints?totalPoints.toLocaleString(appCom.getCurrCCode()):0}}</span>
        </div>
        <div class="ntpr">
            <div class="homeFt">
                <div class="btn">
                    <button ion-button type="button" [disabled]="redeemDisabled" (click)="redeem(0)">
                        {{ "REDEEM NOW" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-footer>