<!--
Generated template for the HpbDetailsPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-home"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "CEMENT BAG REMOVAL DETAILS" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <div class="userForm">
        <div class="form_list">
            <h2 class="labelHeading">{{ "CEMENT BAG REMOVAL DETAILS" | translate }}</h2>
            <ion-card>
                <ion-card-header>
                    {{ "DISTRICT" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Bekasi
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "FROM DATE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        1 Dec 2017
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "TO DATE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        15 Dec 2017
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "QUANTITY" | translate }}
                </ion-card-header>
                <ion-card-content>
                    1000 bags
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "LOCATION NAME" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Halaman Distributor
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "ADDRESS" | translate }}
                </ion-card-header>
                <ion-card-content>
                    Graha Merdeka Blok XG 18/04 Citra Raya,Tangerang
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "POSTAL CODE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        54678799767
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "PROVINCE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Jawa Timur
                    </ion-card-content>
                </ion-card>

            </div>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "CITY / MUNICIPALITY" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Bangorejo
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "SUB DISTRICT" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Banyuwangi
                    </ion-card-content>
                </ion-card>

            </div>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "WITNESS NAME" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Shadab Khan
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "WITNESS DESIGNATION" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        Manager
                    </ion-card-content>
                </ion-card>
            </div>
            <div class="photo_uploaded">
                <h2 class="labelHeading">{{ "PROOF" | translate }}</h2>
                <div class="id_photos">
                    <div class="id_items">
                    </div>
                    <div class="id_items">
                    </div>
                    <div class="id_items">
                    </div>
                </div>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "NOTE" | translate }}
                </ion-card-header>
                <ion-card-content>
                    dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy text
                </ion-card-content>
            </ion-card>
            <div class="singTitle">
                <h2 class="labelHeading">{{ "WITNESS SIGNATURE" | translate }}</h2>
                <div class="btn digital_sign">
                    <button ion-button type="button">
                        <img src="assets/img/sign.png" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<ion-footer class="ntpr">
    <div class="btn">
        <button ion-button type="button">
            {{ "ADD PROJECT" | translate }}
        </button>
        <button ion-button type="button">
             {{ "CHECK OUT" | translate }}
        </button>
    </div>
</ion-footer>