<!--
  Generated template for the AchivementsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-title>{{ "ACHIEVEMENTS" | translate }}</ion-title>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button iconHome menuToggle>
        <i class="icon-menu" name="menu"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
  <super-tabs>
    <super-tab [root]="page2" title="{{ 'TLH' | translate }}"></super-tab>
    <super-tab [root]="page1" title="{{ 'SPH' | translate }}"></super-tab>
  </super-tabs>
  <!--<ion-list class="seleRole">
        <ion-item class="inputLable">
            <ion-select [(ngModel)]="gaming" placeholder="gaming">
                <ion-option value="nes">NES</ion-option>
                <ion-option value="n64">Nintendo64</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <h5 class="region"><span class="regTitle">{{ "REGION" | translate }}:</span> <span class="regZone">West Java</span></h5>
    <ion-grid class="personData">
        <h4 class="personTitle">{{ "SRKU" | translate }}</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>1500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>21500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>1600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">Switching</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Today's Target</p>
                <h3>1500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Today's Achievement</p>
                <h3>600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>21500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>1600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">Maintain</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Today's Target</p>
                <h3>1500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Today's Achievement</p>
                <h3>600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>21500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>1600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">New Member</h4>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>25</h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>19</h3>
            </ion-col>
        </ion-row>
    </ion-grid>-->
</ion-content>
