<!--
  Generated template for the MasonReceiptListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{ "RECEIPT LIST" | translate }}</ion-title>
        <ion-buttons end>
            <!--<button ion-button [(ngModel)]="range" mbsc-range [mbsc-options]="rangeSettings" (change)="changeDate()">
                <i class="icon-calendar"></i>
            </button>-->
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <div *ngIf="receiptList.length == 0">
        <h2 class="noData contMid">{{ "NO RECEIPT FOUND." | translate }}</h2>
    </div>
    <ion-list class="listWrap">
        <div class="itemWrap" *ngFor="let receipt of receiptList" (click)="openReceipt(receipt.receipt_id)">
            <ion-item class="listItem receipt reject">
                <div class="leftContent">
                    <div class="mobileWrap">
                        <div class="projectWrap">
                            <p class="title">{{ "PROJECT NAME" | translate }}</p>
                            <span class="value">{{receipt.project}}</span>
                        </div>
                        <div class="projectWrap">
                            <p class="title">{{ "PRODUCT" | translate }}</p>
                            <span class="value">{{receipt.product}}</span>
                        </div>
                        <div class="rowData bottom0">
                            <div class="flexWrap">
                                <p>{{ "QUANTITY" | translate }}:</p><span>{{receipt.quantity}} bags</span>
                            </div>
                            <div class="flexWrap">
                                <p>{{ "UNIT LIST" | translate }}</p><span>{{receipt.unit}}</span>
                            </div>
                        </div>
                        <!--<div class="projectWrap">
                            <div class="flexWrap">
                                <div class="unit">
                                    <p>Quantity: <span>100</span> bags</p>
                                </div>
                                <div class="unit">
                                    <p>Unit: <span>40</span> kg</p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <span class="tag">{{receipt.created_date}}</span>
                <!--<button class="checkIn" ion-button color="light">-->
                <i class="icon-next-thin checkIn"></i>
                <div *ngIf="receipt.points != 0 && receipt.points != null" class="pointPlace">
                    <p>{{ "POINTS" | translate }}</p>
                    <span>{{receipt['points'].toLocaleString()}}</span>
                </div>
                <!--</button>-->
            </ion-item>
        </div>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!dataLoadCompleted">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>