<!--
  Generated template for the DistributorRetailerVisitDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons class="backBtn">
            <!--<button ion-button>
                <i class="icon-back"></i>
            </button>-->
        </ion-buttons>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-edit"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "DISTRIBUTOR / RETAILER VISIT DETAILS" | translate }} </ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <form class="distributorDetails">
        <div class="userSpace">
            <ion-list class="inputBox">
                <div class="form_list">
                    <ion-card class="cardRow">
                        <ion-card-header>{{ "DISTRIBUTOR" | translate }}</ion-card-header>
                        <ion-card-content>Rashid Khan</ion-card-content>
                    </ion-card>
                    <ion-card class="cardRow">
                        <ion-card-header>{{ "VISIT DATE" | translate }}</ion-card-header>
                        <ion-card-content>1st May 2017</ion-card-content>
                    </ion-card>
                </div>
            </ion-list>
        </div>
        <div class="userSpaceRepet">
            <h2 class="labelHeading">{{ "BRAND IN USE" | translate }}</h2>
            <div class="deleBox"><span>{{ "BRAND" | translate }} 2 </span></div>
            <ion-list class="inputBox">
                <ion-card class="cardRow">
                    <ion-card-header>{{ "BRAND NAME" | translate }}</ion-card-header>
                    <ion-card-content>Ambuja Cement</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "SELLING PRICE" | translate }}</ion-card-header>
                    <ion-card-content>60000</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "TYPE OF PACKAGING" | translate }}</ion-card-header>
                    <ion-card-content>100 kg</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "PROMOTION PROGRAM" | translate }}</ion-card-header>
                    <ion-card-content>buy one get one free</ion-card-content>
                </ion-card>
            </ion-list>
            <div class="deleBox"><span>{{ "BRAND" | translate }} 1</span></div>
            <ion-list class="inputBox">
                <ion-card class="cardRow">
                    <ion-card-header>{{ "BRAND NAME" | translate }}</ion-card-header>
                    <ion-card-content>Ambuja Cement</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "BRAND NAME" | translate }}</ion-card-header>
                    <ion-card-content>Ambuja Cement</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "SELLING PRICE" | translate }}</ion-card-header>
                    <ion-card-content>60000</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "TYPE OF PACKAGING" | translate }}</ion-card-header>
                    <ion-card-content>100 kg</ion-card-content>
                </ion-card>
                <ion-card class="cardRow">
                    <ion-card-header>{{ "PROMOTION PROGRAM" | translate }}</ion-card-header>
                    <ion-card-content>buy one get one free</ion-card-content>
                </ion-card>
            </ion-list>
            <div class="brandNote">
                <ion-card class="cardRow">
                    <ion-card-header>{{ "NOTE" | translate }}</ion-card-header>
                    <ion-card-content>dummy text of the printing and typesetting industry. Lorem Ipsum has been the dummy text</ion-card-content>
                </ion-card>
            </div>
        </div>
    </form>
</ion-content>
<ion-footer class="ntpr">
    <div class="btn">
        <button ion-button type="button">
            {{ "ADD PROJECT" | translate }}
        </button>
        <button ion-button type="button">
            {{ "CHECK OUT" | translate }}
        </button>
    </div>
</ion-footer>