.bar-buttons {
    margin: $zero $size - 1.8;
    padding: 0 2px;
    min-width: inherit $important;
    ion-icon {
        padding: 0 2px;
        @include media-query(560px) {
            font-size: $size + 1.5;
            margin: $zero $size - 1.5;
        }
    }
    .bar-button {
        padding: 0 3px;
    }
    // Back Button
}

.bar-buttons {
    .spinnerI {
        float: $left;
        background: $none;
        width: $size + 1.6;
        margin-top: -1px $important;
        margin-right: 1rem $important;
        @include media-query(560px) {
            margin-top: -8px;
            width: $size + 3;
        }
        .spinRt {
            @include spin("0.8");
            transform-origin: $center $center;
        }
    }
    .icon-notification {
        margin-right: $size $important;
        font-size: $size + .4;
        line-height: 1.4;
        .badge-value {
            font-size: $size - 1;
            @include border-radius(100px);
            position: $absolute;
            top: 0;
            left: $size - .4;
            min-width: $size + .5;
            min-height: $size + .5;
            padding: 0;
            line-height: 2.5;
            background-color: rgba($solid-danger, 1);
            @include media-query(360px) {
                .badge-value {
                    top: 2px;
                }
            }
            @include media-query(560px) {
                font-size: $size - .6;
                top: 0px;
                left: $size;
                line-height: 2.3;
                height: $size + 1.2;
                width: $size + 1.2;
            }
        }
        @include media-query(560px) {
            font-size: 3.8rem;
            line-height: inherit;
        }
    }
}

// Delete Icon
.deleBox {
    .icon-Delete {
        margin-left: auto;
        font-size: $size;
        padding: $size - 1;
        margin-right: -1rem;
        @include media-query(560px) {
            font-size: $size + .5;
        }
    }
}

.button {
    &.icon-button {
        padding: $zero;
        i {
            color: $btn-color;
        }
    }
}

.select {
    .select-icon {
        .select-icon-inner {
            font-family: icomoon;
            border: $none;
        }
        .select-icon-inner::before {
            content: "\e90e";
        }
    }
}

.back-button-icon::before {
    content: "\e924" !important;
    font-family: 'icomoon' !important;
}

.ion-md-arrow-dropdown:before {
    content: "\e907"!important;
}