<ion-header>
    <ion-title></ion-title>
    <ion-toolbar>
        <ion-title>
            {{ "TERMS AND CONDITIONS" | translate }}
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <!--<span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>-->
        <i class="icon-close"></i>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="false">
    <div class="contentWrap">
        <div class="accShowHide">

            <!-- <h2 class="noData contMid">{{ "COMING SOON" | translate }}</h2> -->

        </div>
    </div>

</ion-content>