<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <i class="icon-close"></i>
      </button>
    </ion-buttons>
    <ion-title>{{ "SEARCH BY" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
  <form class="userForm">
    <ion-list class="inputBox">
      <div class="rdIn">
        <div class="date_picker">
          <div class="date_list">
            <ion-item class="inputLable">
              <ion-label stacked>{{ "FROM DATE" | translate }}</ion-label>
              <!--<ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>-->
              <ion-input [(ngModel)]="prodRequestFilterArr.fromDate" #fromDateMob="mobiscroll" #fromDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsFrom" required></ion-input>
            </ion-item>
            <i tappable role="button" class="icon-arrow"></i>
          </div>
          <div class="date_list" [class.disabledDiv]="disableToDateFlag">
            <ion-item class="inputLable">
              <ion-label stacked>{{ "TO DATE" | translate }}</ion-label>
              <!--<ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>-->
              <ion-input [(ngModel)]="prodRequestFilterArr.toDate" #toDateMob="mobiscroll" #toDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsTo" required></ion-input>
            </ion-item>
            <i tappable role="button" class="icon-arrow"></i>
          </div>
        </div>
      </div>
    </ion-list>
    <div class="checkButton">
      <h2 class="labelHeading">{{ "PRODUCT STATUS" | translate }}</h2>
      <div class="rdIn project_stage_btn" [(ngModel)]="prodRequestFilterArr.status" #status="ngModel" [ngModelOptions]="{standalone: true}" radio-group>
        <ion-item class="halfWidth">
          <ion-label>{{ "IN PROGRESS" | translate }}</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
        <ion-item class="halfWidth">
          <ion-label>{{ "DEAL" | translate }}</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item class="halfWidth">
          <ion-label>{{ "FAILED" | translate }}</ion-label>
          <ion-radio value="-1"></ion-radio>
        </ion-item>
      </div>
    </div>
    <!--<div class="btn">
            <button ion-button (click)="search()" type="button">{{ "SEARCH" | translate }}</button>
        </div>-->
  </form>
</ion-content>
<ion-footer class="ntpr">
  <div class="btn">
    <button ion-button (click)="search()" type="button">{{ "SEARCH" | translate }}</button>
    <button ion-button type="button" (click)="clearFilter()">{{ "RESET" | translate }}</button>
  </div>
</ion-footer>
