<ion-header>

    <ion-navbar>
        <ion-buttons class="iconLeft">
            <button ion-button class="logo"></button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-buttons end>
            <button ion-button class="icon-notification" tapable (click)="goToNotifyPage()">
                <ion-badge *ngIf="notificationCtn > 0" class="badge-value">{{notificationCtn}}</ion-badge>
            </button>
            <button ion-button icon-only class="spinnerI" (click)="globalSync()">
                <img src="assets/images/white-sync-icon.png" [ngClass]="{ 'spinRt': globalSyncLoaderBtn }" title="sync" alt="sync Icon" />
            </button>
            <button ion-button iconHome menuToggle>
                <i class="icon-menu" name="menu"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-list class="seleRole">
        <ion-item class="inputLable">
            <ion-select [(ngModel)]="selectedSubDistrict" (ionChange)="selectSubDistrict()" placeholder="{{ 'SELECT SUB DISTRICT' | translate }}">
                <ion-option value="all">{{ "All Sub Districts" | translate }}</ion-option>
                <ion-option *ngFor="let subdistrict of subdistrictData" value="{{subdistrict.subdistrict_id}}">{{subdistrict.subdistrict_name}}</ion-option>
                <!-- <ion-option value="n64">{{ "NINTENDO64" | translate }}</ion-option> -->
            </ion-select>
        </ion-item>
    </ion-list>
</ion-header>

<ion-content fullscreen="false" [ngBusy]="{busy: busy,message:busyMessage, minDuration: 600}">
    <super-tabs class="homeTab">
        <super-tab [root]="page1" title="{{'SRKU' | translate}}"></super-tab>
        <super-tab [root]="page2" title="{{'SWITCHING' | translate}}"></super-tab>
        <super-tab [root]="page3" title="{{'MAINTAIN' | translate}}"></super-tab>
        <super-tab [root]="page4" title="{{'NEW MEMBER' | translate}}"></super-tab>
    </super-tabs>
    <!-- <div class="productPerformance">
        <button ion-button (click)="productPerformance()">
            Check product performance
            <i class="icon-next"></i>
        </button>
    </div> -->
    <!--<div class="blackShade"></div>
    <ion-grid class="cardBgOne">
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Today's Target</p>
                <h3>1500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Today's Achievement</p>
                <h3>600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>21500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>1600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>-->
    <ion-card class="todaysVisits">
        <ion-card-content>
            <div class="textBtn" (click)="goToTlhReceiptList()">
                <h4>{{ "PENDING RECEIPTS" | translate }}</h4>
                <button ion-button class="viewAll">{{ "VIEW ALL" | translate }}</button>
            </div>
        </ion-card-content>
    </ion-card>

    <ion-list class="listWrap">
        <div *ngIf="productReceiptAllData.length == 0  ">
            <h2 class="noData">{{ "NO PENDING RECEIPTS FOUND" | translate }}</h2>
        </div>

        <div class="itemWrap" *ngFor="let receipt of productReceiptAllData" (click)="goToTlhReceiptDetail(receipt)">
            <ion-item class="listItem receipt reject">
                <div class="leftContent">
                    <div class="mobileWrap">
                        <div class="projectWrap">
                            <p class="title">{{ "PROJECT NAME" | translate }}</p>
                            <span class="value">{{ receipt['project']?receipt['project']:"-" }}</span>
                        </div>
                        <div class="projectWrap">
                            <p class="title">{{ "PRODUCT" | translate }}</p>
                            <span class="value">{{ receipt['product']?receipt['product']:"-" }}</span>
                        </div>
                        <!--<div class="projectWrap">
                            <div class="flexWrap">
                                <div class="unit">
                                    <p>Quantity: <span>100</span> bags</p>
                                </div>
                                <div class="unit">
                                    <p>Unit: <span>40</span> kg</p>
                                </div>
                            </div>
                        </div>-->
                        <div class="rowData">
                            <div class="flexWrap">
                                <p>{{ "QUANTITY" | translate }}:</p><span>{{ receipt['quantity']?receipt['quantity']:"-" }}</span>
                            </div>
                            <div class="flexWrap">
                                <p>{{ "UNIT" | translate }}:</p><span>{{ receipt['unit']?receipt['unit']:"-" }}</span>
                            </div>
                            <div class="flexWrap">
                                <p>{{ "SPH" | translate }}:</p><span>{{ receipt['sph_name']?receipt['sph_name']:"-" }}</span>
                            </div>
                            <div class="flexWrap">
                                <p>{{ "DPB" | translate }}:</p><span>{{ receipt['hpb_name']?receipt['hpb_name']:"-" }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<span class="hpbStatus"><i class="icon-Close"></i>In progress</span>-->


                <ion-grid class="gridWrap">
                    <div class="row" [innerHTML]="appCom.renderTHAppStatusARP(receipt?.app)">
                    </div>
                </ion-grid>



                <span class="tag">{{ receipt['created_date']? timeStampToDate(receipt['created_date']):"-" }}</span>
                <i class="icon-next-thin checkIn"></i>
            </ion-item>
            <div class="filterTag resultbg" *ngIf="receipt['app']['rejection_reason']?receipt['app']['rejection_reason']:false">
                <p class="resultRes">{{ "REASON" | translate }}:</p>
                <p>{{ receipt['app']['rejection_reason'] }} </p>
            </div>
        </div>

    </ion-list>


</ion-content>
<ion-footer class="ntpr">
    <!--<div class="btn">
        <button ion-button type="button">
            Add Visit
        </button>
        <button ion-button type="button">
            Check out
        </button>
    </div>-->
    <!--<div class="homeFt">
        <div class="btn">
            <button ion-button type="button">
                ACT AS SPH
            </button>
        </div>
    </div>-->
</ion-footer>