<!--
  Generated template for the SelectLanguagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="enterMobileNo selectLanguage">
    <div class="enterMbBX">
        <div class="contMid">
            <h2>{{"SELECT A LANGUAGE" | translate }}</h2>
            <div class="btn">
                <button ion-button color="light">
                    English
                    <i class="icon-next-thin"></i></button>
                <button ion-button color="light">
                    Bahasa Indonesia
                    <i class="icon-next-thin"></i></button>
            </div>
        </div>
    </div>
</ion-content>