<ion-header>
    <ion-navbar>
   <ion-buttons start>
           <button ion-button (click)="closeSearch()">
            <i class="icon-close" ></i>
          </button>
       </ion-buttons>      
       <ion-title>{{"SEARCH BY" | translate }}</ion-title>
   </ion-navbar>
</ion-header>

<ion-content fullscreen="false">
        <ion-list class="listWrap">
        <h2>Filter Modal</h2>
        </ion-list>
</ion-content>