<!--
  Generated template for the CementBagRemovalListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons class="backBtn">
            <!--<button ion-button>
                <i class="icon-back"></i>
            </button>-->
        </ion-buttons>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-home"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "CEMENT BAG REMOVAL LIST" | translate }}</ion-title>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="myInput" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>

</ion-header>
<ion-content fullscreen="false">
    <div class="filterTag">
        <p>{{ "SEARCH BY" | translate }}: Bekasi, 1/12/17 - 19/12/17, </p>
        <button ion-button color="light" class="closeStyle">
            <i class="icon-close-thin"></i>
        </button>
    </div>
    <ion-list class="listWrap">
        <div class="itemWrap">
            <ion-item class="listItem receipt" tappable>
                <div class="leftContent">
                    <div class="mobileWrap">
                        <div class="projectWrap">
                            <p class="title">{{ "LOCATION NAME" | translate }}</p>
                            <span class="value">Halaman Distributor</span>
                        </div>
                    </div>
                </div>
                <!--<span class="hpbStatus"><i class="icon-Close"></i>In progress</span>-->
                <div class="projectWrap">
                    <ion-grid class="gridWrap">
                        <ion-row>
                            <ion-col>
                                <div class="projectWrap">
                                    <p class="title">{{ "QUANTITY" | translate }}</p>
                                    <span class="gridValue">1000 Bags</span>
                                </div>
                            </ion-col>
                            <ion-col>
                                <div class="projectWrap">
                                    <p class="title">{{ "DISTRICT" | translate }}</p>
                                    <span class="gridValue">Bekasi</span>
                                </div>
                            </ion-col>
                            <ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-grid class="gridWrap">
                    <ion-row>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "FROM DATE" | translate }}</p>
                                <span class="gridValue">1 Dec 2016</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "TO DATE" | translate }}</p>
                                <span class="gridValue">15 Dec 2016</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "REMOVED ON" | translate }}</p>
                                <span class="gridValue">1 May 17</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <i class="icon-next-thin checkIn"></i>
            </ion-item>
        </div>
        <div class="itemWrap">
            <ion-item class="listItem receipt" tappable>
                <div class="mobileWrap">
                    <div class="projectWrap">
                        <p class="title"> {{ "LOCATION NAME" | translate }}</p>
                        <span class="value">Halaman Distributor</span>
                    </div>
                </div>
                <!--<span class="hpbStatus"><i class="icon-Close"></i>In progress</span>-->
                <div class="projectWrap">
                    <ion-grid class="gridWrap">
                        <ion-row>
                            <ion-col>
                                <div class="projectWrap">
                                    <p class="title">{{ "QUANTITY" | translate }}</p>
                                    <span class="gridValue">1000 Bags</span>
                                </div>
                            </ion-col>
                            <ion-col>
                                <div class="projectWrap">
                                    <p class="title">{{ "DISTRICT" | translate }}</p>
                                    <span class="gridValue">Bekasi</span>
                                </div>
                            </ion-col>
                            <ion-col>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <ion-grid class="gridWrap">
                    <ion-row>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "FROM DATE" | translate }}</p>
                                <span class="gridValue">1 Dec 2016</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "TO DATE" | translate }}</p>
                                <span class="gridValue">15 Dec 2016</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="projectWrap">
                                <p class="title">{{ "REMOVED ON" | translate }}</p>
                                <span class="gridValue">1 May 17</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <i class="icon-next-thin checkIn"></i>
            </ion-item>
        </div>
    </ion-list>
</ion-content>