<!--
Generated template for the AddProjectPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-menu"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "CEMENT BAG REMOVAL" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <form class="userForm">
        <ion-list class="inputBox">
            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label stacked>{{ "DISTRICT" | translate }}*</ion-label>
                    <ion-input [(ngModel)]="cBagRemovData.district" mbsc-select [mbsc-options]="mobiScollDistrictSettings" [mbsc-data]="districtArrG" #district="ngModel" #districtMob="mobiscroll" required [ngModelOptions]="{standalone: true}" (ngModelChange)="onDistrictSelect($event)"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="district.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!district.errors.required">
                    {{ "DISTRICT IS REQUIRED" | translate }}.
                </p>
            </div>


            <div class="rdIn">
                <div class="date_picker">
                    <div class="date_list">
                        <ion-item class="inputLable" [class.disabledDiv]="disableFromDateFlag" >
                            <ion-label stacked>{{ "FROM DATE" | translate }}*</ion-label>
                            <!--<ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="cBagRemovData.fromDate" #fromDate="ngModel" [ngModelOptions]="{standalone: true}" (ngModelChange)="fromDateSelected($event)" [disabled]="disableFromDateFlag" max="{{fromMaxDate}}" required></ion-datetime>-->
                            <ion-input [(ngModel)]="cBagRemovData.fromDate" #fromDateMob="mobiscroll" #fromDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsF" required ></ion-input>
                        </ion-item>
                        <i tappable role="button" class="icon-arrow"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="fromDate.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!fromDate.errors.required">
                    {{ "FROM DATE IS REQUIRED" | translate }}.
                </p>
            </div>

            <div class="rdIn">
                <div class="date_picker">
                    <div class="date_list">
                        <ion-item class="inputLable" [class.disabledDiv]="disableToDateFlag">
                            <ion-label stacked>{{ "TO DATE" | translate }}*</ion-label>
                            <!--<ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="cBagRemovData.toDate" #toDate="ngModel" [ngModelOptions]="{standalone: true}" (ngModelChange)="toDateSelected($event)" min="{{toMinDate}}" max="{{toMaxDate}}" [disabled]="disableToDateFlag" required></ion-datetime>-->
                            <ion-input [(ngModel)]="cBagRemovData.toDate" #toDateMob="mobiscroll" #toDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsT" required ></ion-input>
                        </ion-item>
                        <i tappable role="button" class="icon-arrow"></i>
                    </div>
                </div>
            </div>
            <div *ngIf="toDate.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!toDate.errors.required">
                    {{ "TO DATE IS REQUIRED" | translate }}.
                </p>
            </div>


            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label floating> {{ "QUANTITY" | translate }}*</ion-label>
                    <ion-input type="tel" placeholder="{{ 'E.G.' | translate }} 10" class="input_item" [(ngModel)]="cBagRemovData.quantity" #cBQuantity="ngModel" pattern="^[0-9]*$"  required [ngModelOptions]="{standalone: true}" ></ion-input>
                </ion-item>
            </div>
            <div *ngIf="cBQuantity.errors && (cBQuantity.dirty || cBQuantity.touched || submitted)" class="alert alert-danger error">
                <p [hidden]="!cBQuantity.errors.required">
                    {{ "QUANTITY IS REQUIRED" | translate }}
                </p>
                <p [hidden]="!cBQuantity.errors.pattern">
                    {{ "QUANTITY IS INVALID" | translate }}
                </p>
            </div>
            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label floating>{{ "LOCATION NAME" | translate }}*</ion-label>
                    <ion-input type="text" placeholder="{{ 'E.G.' | translate }} Jakarta" class="input_item" [(ngModel)]="cBagRemovData.locationName" #locationName="ngModel"  required [ngModelOptions]="{standalone: true}" pattern="^[^-\s][a-zA-Z '\s-]+$"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="locationName.errors && (locationName.dirty || locationName.touched || submitted)" class="alert alert-danger error">
                <p [hidden]="!locationName.errors.required">
                    {{ "LOCATION NAME IS REQUIRED" | translate }}
                </p>
                <p [hidden]="!locationName.errors.pattern">
                    {{ "LOCATION NAME IS INVALID" | translate }}
                </p>
            </div>
            <!--<div *ngIf="cBagRemovData.locationName != undefined && cBagRemovData.locationName != '' && (locationName.dirty || locationName.touched || submitted)" >
                 <p  [hidden]="!(cBagRemovData.locationName.trim()==null)" >
                      {{ "ONLY SPACES ARE NOT ALLOWED" | translate }}
                 </p>   
             </div>-->

            <div class="rdIn locate_btn">
                <ion-item class="inputLable">
                    <ion-label floating>{{ "ADDRESS" | translate }}*</ion-label>
                    <ion-textarea class="textAarea" [(ngModel)]="cBagRemovData.address" #address="ngModel" required [ngModelOptions]="{standalone: true}"></ion-textarea>
                </ion-item>
                <button ion-button (click)="getAddress()">{{ "LOCATE" | translate }} <i class="icon-location"></i></button>
            </div>
            <div *ngIf="address.errors && (address.dirty || address.touched || submitted)" class="alert alert-danger error">
                <p [hidden]="!address.errors.required">
                    {{ "ADDRESS IS REQUIRED" | translate }}
                </p>
            </div>

            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label stacked>{{ "POSTAL CODE" | translate }}*</ion-label>
                    <ion-input [(ngModel)]="cBagRemovData.postalCode" mbsc-select [mbsc-options]="mobiScollPincodeSettings" [mbsc-data]="postalCodeArrF" #postalCode="ngModel" #pincodeMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="postalCode.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!postalCode.errors.required">
                    {{ "POSTAL CODE IS REQUIRED" | translate }}
                </p>
            </div>
            <div class="rdIn" [class.disabledDiv]="cBagRemovData.postalCode && cBagRemovData.postalCode!='' ">
                <ion-item class="inputLable">
                    <ion-label stacked> {{ "PROVINCE" | translate }}*</ion-label>
                    <ion-input [(ngModel)]="cBagRemovData.province" mbsc-select [mbsc-options]="mobiScollProvinceSettings" [mbsc-data]="provinceArrF" #province="ngModel" #ProvinceMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>

                </ion-item>
            </div>
            <div *ngIf="province.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!province.errors.required">
                    {{ "PROVINCE IS REQUIRED" | translate }}
                </p>
            </div>
            <div class="rdIn" [class.disabledDiv]="(cBagRemovData.postalCode && cBagRemovData.postalCode!='') || (cBagRemovData.province==null || cBagRemovData.province=='' || !cBagRemovData.province)">
                <ion-item class="inputLable">
                    <ion-label stacked> {{ "CITY / MUNICIPALITY" | translate }}*</ion-label>
                    <ion-input [(ngModel)]="cBagRemovData.city" mbsc-select [mbsc-options]="mobiScollCitySettings" [mbsc-data]="municipalityArrF" #city="ngModel"  #CityMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>

                </ion-item>
            </div>
            <div *ngIf="city.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!city.errors.required">
                    {{ "CITY / MUNICIPALITY IS REQUIRED" | translate }}
                </p>
            </div>
            <div class="rdIn" [class.disabledDiv]="(cBagRemovData.postalCode && cBagRemovData.postalCode!='') ||  (cBagRemovData.city==null || cBagRemovData.city=='' || !cBagRemovData.city) ">
                <ion-item class="inputLable">
                    <ion-label stacked>{{ "SUB DISTRICT" | translate }}*</ion-label>
                    <ion-input [(ngModel)]="cBagRemovData.subDistrict" mbsc-select [mbsc-options]="mobiScollSubDistrictSettings" [mbsc-data]="subDistrictArrF" #subDistrict="ngModel" #SubDistrictMob="mobiscroll" required [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="subDistrict.errors && (submitted)" class="alert alert-danger error">
                <p [hidden]="!subDistrict.errors.required">
                    {{ "SUB DISTRICT IS REQUIRED" | translate }}
                </p>
            </div>



            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label floating>{{ "WITNESS NAME" | translate }}*</ion-label>
                    <ion-input type="text" placeholder="Person name" class="input_item" [(ngModel)]="cBagRemovData.witnessName" #witnessName="ngModel" required [ngModelOptions]="{standalone: true}" minlength="4" maxlength="100"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="witnessName.errors && (witnessName.dirty || witnessName.touched || submitted)" class="alert alert-danger error">
                <p [hidden]="!witnessName.errors.required">
                    {{ "NAME IS REQUIRED" | translate }}
                </p>
                <p [hidden]="!witnessName.errors.minlength">
                    {{ "NAME MUST BE AT LEAST 4 CHARACTERS LONG." | translate }}
                </p>
                <p [hidden]="!witnessName.errors.maxlength">
                    {{ "NAME CANNOT BE MORE THAN 100 CHARACTERS LONG." | translate }}
                </p>
            </div>
            <div *ngIf=" cBagRemovData.witnessName != '' && cBagRemovData.witnessName != undefined ">
                <div *ngIf="( cBagRemovData.witnessName.trim() == '' || cBagRemovData.witnessName.trim() == undefined) && (witnessName.dirty || witnessName.touched || submitted) " class="alert alert-danger error">
                    <p [hidden]="( cBagRemovData.witnessName.trim() != ''  )">
                        {{ "PLEASE ENTER A VALID NAME." | translate }}
                    </p>
                </div>
            </div>




            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label floating>{{ "WITNESS DESIGNATION" | translate }}</ion-label>
                    <ion-input type="text" placeholder="{{ 'E.G.' | translate }} Manager" class="input_item" [(ngModel)]="cBagRemovData.witnessDesignation" #witnessDesignation="ngModel" [ngModelOptions]="{standalone: true}" pattern="^[a-zA-Z ]*$"></ion-input>
                </ion-item>
            </div>
            <div *ngIf="witnessDesignation.errors && (witnessDesignation.dirty || witnessDesignation.touched || submitted)" class="alert alert-danger error">
                <p *ngIf="cBagRemovData.witnessDesignation !=undefined && cBagRemovData.witnessDesignation !=''" [hidden]="!witnessDesignation.errors.pattern && (cBagRemovData.witnessDesignation.trim() == null)">
                    {{ "PLEASE ENTER A VALID DESIGNATION." | translate }}
                </p>
            </div>



            <!--<div class="rdIn">
                <div class="upload_proof">
                    <h2 class="labelHeading">{{ "UPLOAD PROOF" | translate }}*</h2>
                    <div class="id_photos">
                        <div class="id_items" text-right>
                            <button ion-button color="light" class="close_btn">
                                x
                            </button>
                        </div>
                        <div class="id_items" text-right>
                            <button ion-button color="light" class="close_btn">
                                x
                            </button>
                        </div>
                        <div class="id_items upload" text-center>
                            <button ion-button color="light" class="upload_btn">
                                <i class="icon-Camera"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>-->

            <ion-list class="inputBox">
                <div class="rdIn">
                    <div class="photoAdd">
                        <h2 class="labelHeading">{{ "UPLOAD PROOF" | translate }}*</h2>
                        <!--<ng-template *ngIf="idCardPhotoObj.length > 1">-->
                        <div class="id_photos">
                            <div class="id_items" text-right *ngFor="let image of removalProofPathObjDisp; let i = index;">
                                <img [src]="image" alt="">
                                <button ion-button color="light" class="close_btn" (click)="removeProofImages(i)">
                                <i class="icon-close-thin"></i>
                            </button>
                            </div>
                            <div class="id_items upload" text-center>
                                <button ion-button color="light" class="upload_btn" (click)="openSelectCameraPop($event,'rem_proof_pics')">
                                <i class="icon-Camera"></i>
                            </button>
                            </div>
                        </div>
                        <!--</ng-template>-->
                    </div>
                    <div *ngIf=" (removalProofPathObjDisp ==undefined || removalProofPathObjDisp =='') && (submitted) " class="alert alert-danger error">
                        <p>{{ "PHOTO PROOF IS REQUIRED" | translate }}</p>
                    </div>
                </div>
            </ion-list>





            <div class="comment_note">
                <ion-list class="inputBox">
                    <div class="rdIn">
                        <h2 class="labelHeading">{{ "NOTE" | translate }}</h2>
                        <ion-item class="inputLable">
                            <ion-textarea placeholder="Comment" class="textAarea" [(ngModel)]="cBagRemovData.additionalComment" #additionalComment="ngModel" [ngModelOptions]="{standalone: true}"></ion-textarea>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </ion-list>
        <!--<div class="btn digital_sign">
            <button ion-button type="button">{{ "WITNESS SIGNATURE" | translate }}*</button>
        </div>-->

        <div class="digital_sign_img" *ngIf="digitalSignPath && digitalSignPath !=''">
            <img [src]="appCom.urlSanitizer(digitalSignPath)">
        </div>
        <div class="btn digital_sign" [class.disabledDiv]="updateFlag">
            <button ion-button type="button" (click)="openSignPopup()">{{ "WITNESS SIGNATURE" | translate }}*</button>
        </div>
        <div *ngIf=" (digitalSignPath ==undefined || digitalSignPath =='') && (submitted) " class="alert alert-danger error">
            <p>{{ "SIGNATURE IS REQUIRED" | translate }}</p>
        </div>

        <div class="btn">
            <button ion-button type="button" (click)="submitCementBagRemForm()">{{ "SUBMIT" | translate }}</button>
        </div>
    </form>
</ion-content>