<!--
Generated template for the HpbDetailsPage page.
See http://ionicframework.com/docs/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <!-- <ion-buttons end>
            <button ion-button menuToggle>
                <i class="icon-home"></i>
            </button>   
        </ion-buttons> -->
        <ion-buttons end>
            <button ion-button (click)="editCurrentReceipt()" *ngIf="editBtnEnb">
                <i class="icon-edit"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "RECEIPT DETAILS" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <div class="userForm">
        <div class="form_list">
            <ion-grid class="gridWrap">
                <div class="row" [innerHTML]="appCom.renderSPHAppStatusARP(productReceiptData)">
                </div>
            </ion-grid>
            <ion-card>
                <ion-card-header>
                    {{ "PROJECT" | translate }}
                </ion-card-header>
                <ion-card-content>
                    {{ productReceiptData['project_name']?productReceiptData['project_name']:"-" }}
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    {{ "HBP NAME" | translate }}
                </ion-card-header>
                <ion-card-content>
                    {{ productReceiptData['hpb_name']?productReceiptData['hpb_name']:"-" }}
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "SRKU" | translate }}
                    </ion-card-header>
                    <ion-card-content *ngIf="productReceiptData['is_srku']==0">
                        {{ "NO" | translate }}
                    </ion-card-content>
                    <ion-card-content *ngIf="productReceiptData['is_srku']==1">
                        {{ "YES" | translate }}
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "DPB STATUS" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        {{ productReceiptData['hpb_status']?productReceiptData['hpb_status']:"-" }}
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "PRODUCT" | translate }}
                </ion-card-header>
                <ion-card-content>
                    {{ productReceiptData['product_name']?productReceiptData['product_name']:"-" }}
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "QUANTITY" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        {{ productReceiptData['quantity']?productReceiptData['quantity']:"-" }}
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "UNIT" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        {{ productReceiptData['unit']?productReceiptData['unit']:"-" }}
                    </ion-card-content>
                </ion-card>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "RETAILER / DISTRIBUTOR" | translate }}
                </ion-card-header>
                <ion-card-content>
                    {{ productReceiptData['rds_name']?productReceiptData['rds_name']:"-" }}
                </ion-card-content>
            </ion-card>
            <div class="two_coloum">
                <ion-card>
                    <ion-card-header>
                        {{ "PURCHASE DATE" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        {{ productReceiptData['formattedPurchaseDate'] }}
                    </ion-card-content>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        {{ "INVOICE QUANTITY" | translate }}
                    </ion-card-header>
                    <ion-card-content>
                        {{ productReceiptData['invoice_quantity']?productReceiptData['invoice_quantity']:"0" }}
                    </ion-card-content>
                </ion-card>
            </div>
            <div class="rdIn">
                <div class="photo_uploaded">
                    <h2 class="labelHeading">{{ "INVOICE" | translate }}</h2>
                    <div class="id_photos">
                        <div class="id_items" *ngFor="let photo of productInvoicePhotoObj">
                            <img [src]="photo.display" (click)="openFile(photo.path)" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <ion-card>
                <ion-card-header>
                    {{ "NOTE" | translate }}
                </ion-card-header>
                <ion-card-content>
                    {{ (productReceiptData['additional_comments'])?productReceiptData['additional_comments']:"-" }}
                </ion-card-content>
            </ion-card>
            <div class="singTitle">
                <h2 class="labelHeading">{{ "DPB SIGNATURE" | translate }}</h2>
                <div class="digital_sign_img">
                    <img [src]="productReceiptData['digital_sign']" alt="">
                </div>
            </div>

        </div>
    </div>
</ion-content>
<ion-footer class="ntpr">
    <!--<div class="btn">
        <button ion-button type="button">
            Add project
        </button>
        <button ion-button type="button">
            Check out
        </button>
    </div>-->
</ion-footer>