<ion-content fullscreen="false" class="scrollMargin" [ngClass]="{'searchExtraMar': (filterby !=undefined && filterby != '') }" fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <ion-list class="listWrap">
        <div *ngIf="showEmptyFlag">
            <h2 class="noData contMid">{{ "NO PROJECTS FOUND" | translate }}</h2>
        </div>
        <div class="itemWrap projectList" *ngFor="let projItem of projData">
            <ion-item class="listItem receipt" tappable (click)="goToProjectDetail(projItem)">
                <div class="leftContent">
                    <div class="mobileWrap">
                        <div class="projectWrap">
                            <p class="title">{{ "PROJECT NAME" | translate }}</p>
                            <span class="value" *ngIf="projItem['project_name'] != undefined && projItem['project_name'] != ''">{{ projItem['project_name']?projItem['project_name']:"-" }}</span>
                        </div>
                        <div class="projectWrap">
                            <p class="title">{{ "DPB NAME" | translate }}</p>
                            <span class="value">{{  projItem['hpb_name']?projItem['hpb_name']:"-" }}</span>
                        </div>
                        <div class="projectWrap">
                            <p class="title">{{ "ADDRESS" | translate }}</p>
                            <p class="title bColor" *ngIf="projItem['project_address'] != undefined && projItem['project_address'] != ''">{{ projItem['project_address']?projItem['project_address']:"-" }}</p>
                        </div>
                    </div>
                </div>
                <!--<span class="hpbStatus"><i class="icon-Close"></i>In progress</span>-->
                <ion-grid class="gridWrap">
                    <ion-row>
                        <ion-col>
                            <div class="projectWrap blueLeft">
                                <p class="title">{{ "PROJECT TYPE" | translate }}</p>
                                <span class="gridValue" *ngIf="projItem['project_type'] != undefined && projItem['project_type'] != ''">{{ projItem['project_type']?projItem['project_type']:"-" }}</span>
                            </div>
                        </ion-col>
                        <!--<ion-col>
                            <div class="projectWrap greenLeft">
                                <p class="title">HPB</p>
                                <span class="gridValue" *ngIf=" projItem['user'] != undefined && projItem['user'] != '' ">{{ projItem['user']['hpb_type'] }}</span>
                            </div>
                        </ion-col>-->
                        <ion-col>
                            <div class="projectWrap redLeft" *ngIf="projItem['is_srku'] == 0">
                                <p class="title">{{ "IS SRKU" | translate }}</p>
                                <span class="gridValue">{{ "NO" | translate }}</span>
                            </div>
                            <div class="projectWrap redLeft" *ngIf="projItem['is_srku'] == 1">
                                <p class="title">{{ "IS SRKU" | translate }}</p>
                                <span class="gridValue">{{ "YES" | translate }}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <div class="tag">
                    <ion-grid class="gridWrap">
                        <div class="row" [innerHTML]="appCom.renderSPHAppStatusARP(projItem)">
                        </div>
                    </ion-grid>
                </div>

                <i class="icon-next-thin checkIn"></i>
            </ion-item>

            <div class="filterTag resultbg" *ngIf="projItem['srku_rejection_reason']?projItem['srku_rejection_reason']:false">
                <p class="resultRes">{{"REASON" | translate }}:</p>
                <p> {{ projItem['srku_rejection_reason'] }} </p>
            </div>


            <div class="ntpr">
                <div class="btn">
                    <!--<button class="vDetail" ion-button type="button" (click)="goToProjectDetail(projItem)">
            VIEW DETAILS
                     </button>-->
                    <!--<button class="vProject" ion-button type="button" (click)="goToProductReceiptForm(projItem)">
            CHECK IN  
                    </button>-->


                    <button class="vDetail" ion-button type="button" (click)="goToProjectDetail(projItem)">
                        {{ "VIEW DETAILS" | translate }}
                    </button>

                    <button class="CheckOut" ion-button type="button" (click)="checkOut(projItem)" *ngIf="globalCheckInData['checkinFlag'] == true && globalCheckInData['checkinDetails']['check_in_out_type_id'] == projItem['project_id']  &&  globalCheckInData['checkinDetails']['check_in_out_type'] == 'project'">
                            {{ "CHECK OUT" | translate }}                
                    </button>
                    <button class="vProject" ion-button type="button" (click)="checkIn(projItem)" [disabled]="globalCheckInData['checkinFlag'] == true " *ngIf="globalCheckInData['checkinFlag'] == false">
                        {{ "CHECK IN" | translate }}
                    </button>
                    <button class="vProject" ion-button type="button" *ngIf="globalCheckInData['checkinFlag'] == true  && (globalCheckInData['checkinDetails']['check_in_out_type_id'] != projItem['project_id'] ||  globalCheckInData['checkinDetails']['check_in_out_type'] != 'project') "
                        (click)="alreadyCheckInAlert()">
                        {{ "CHECK IN" | translate }}
                    </button>

                </div>
            </div>
        </div>

    </ion-list>
</ion-content>
<!--
<ion-footer class="ntpr">
    <div class="btn">-->
<!--<button ion-button type="button" (click)="goToAddProjectForm()">
            Add project
        </button>-->
<!--<button ion-button type="button">
            Check out
        </button>-->
<!--</div>-->
<!-- <div class="homeFt">
        <div class="btn">
            <button ion-button type="button">
                Add project
            </button>
        </div>
    </div> 
</ion-footer>
-->