
<ion-header>
    <ion-navbar>
       <ion-buttons end>
            <button ion-button  (click)="dismiss()" >
                  <i class="icon-close"></i>
            </button>
        </ion-buttons>
        <ion-title>{{ "SEARCH BY" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content fullscreen="false">
    <form class="userForm">
        <ion-list class="inputBox">
              <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label stacked>{{"DISTRICT" | translate }}</ion-label>
                    <!-- <ion-select [(ngModel)]="projFilterArr.subDistrict" [ngModelOptions]="{standalone: true}">
                      <ion-option value="{{ districtItem['subdistrict'] }}" *ngFor="let districtItem of allDistrictData" >{{ districtItem['subdistrict'] }}</ion-option>
                    </ion-select> -->
                    <ion-input [(ngModel)]="cementBagRemArr.district"  mbsc-select [mbsc-options]="mobiScollDistrictSettings" [mbsc-data]="districtArrG" #district="ngModel" #districtMob="mobiscroll" [ngModelOptions]="{standalone: true}"></ion-input>
                </ion-item>
            </div>
            <div class="rdIn">
                <div class="date_picker">
                   <div class="date_list" >
                        <ion-item class="inputLable">
                            <ion-label stacked>{{ "FROM DATE" | translate }}</ion-label>
                            <!--<ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>-->
                            <ion-input [(ngModel)]="cementBagRemArr.fromDate" #fromDateMob="mobiscroll" #fromDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsFrom" required></ion-input>	
                        </ion-item>
                        <i tappable role="button" class="icon-arrow"></i>
                    </div>
                    <div class="date_list" [class.disabledDiv]="disableToDateFlag"  >
                        <ion-item class="inputLable">
                            <ion-label stacked>{{ "TO DATE" | translate }}</ion-label>
                            <!--<ion-datetime displayFormat="DD MMM YYYY"></ion-datetime>-->
                             <ion-input [(ngModel)]="cementBagRemArr.toDate" #toDateMob="mobiscroll" #toDate="ngModel" [ngModelOptions]="{standalone: true}" mbsc-date [mbsc-options]="dateSettingsTo" required></ion-input>	
                        </ion-item>
                        <i tappable role="button" class="icon-arrow"></i>
                    </div>
                </div>
            </div>
        </ion-list>

        <!--<div class="btn">
            <button ion-button (click)="search()" type="button">{{ "SEARCH" | translate }}</button>
        </div>-->
    </form>
</ion-content>

<ion-footer class="ntpr">
        <div class="btn">
             <button ion-button type="button" (click)="search()">{{ "SEARCH" | translate }}</button>
              <button ion-button type="button" (click)="resetFilter()">{{ "RESET" | translate }}</button>
        </div>
</ion-footer>